* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SofiaMedium;
  src: url(./fonts/Sofia\ Pro\ Medium\ Az.otf);
}
@font-face {
  font-family: SofiaRegu;
  src: url(./fonts/Sofia\ Pro\ Regular\ Az.otf);
}
@font-face {
  font-family: sharp;
  src: url(./fonts/Sharp\ Sans\ Medium.otf);
}
@font-face {
  font-family: sharpL;
  src: url(./fonts/Sharp\ Sans\ Light.otf);
}

@mixin btn {
  width: 200px;
  height: 64px;
  border: none;
  background: linear-gradient(180deg, #64bb47 0%, #2c9553 100%);
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  font-family: SofiaMedium;
}

.nav {
  width: 100%;
  height: 100px;

  .nav-con {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-box {
      display: flex;
      align-items: center;
      gap: 160px;

      h1 {
        font-family: SofiaMedium;
        font-weight: 500;
        font-size: 26px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .menu {
        list-style: none;
        display: flex;
        gap: 40px;
        font-family: SofiaMedium;
      }
    }

    .btn-box {
      display: flex;
      align-items: center;
      gap: 30px;

      .burger {
        display: none;
      }

      button {
        width: 160px;
        height: 54px;
        border: none;
        border-radius: 27px;
        background-color: rgba(73, 73, 73, 1);
        color: #fff;
        font-family: SofiaRegu;
        font-weight: 400;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }

  @media (max-width: 500px) {
    .nav-con {
      padding: 0 15px;

      .logo-box {
        .menu {
          display: none;
        }
      }

      .btn-box {
        .burger {
          display: block;
        }
        button {
          display: none;
        }
      }
    }
  }
}

.sec-1 {
  width: 100%;
  margin-bottom: 100px;
  .sec1-con {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text-box {
      width: 45%;
      h1 {
        font-family: sharp;

        font-weight: 700;
        font-size: 76px;
        leading-trim: NONE;
        line-height: 100px;
        letter-spacing: 0%;

        span {
          color: rgb(95 184 72);
        }
      }

      p {
        font-family: sharpL;

        font-weight: 300;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        margin: 30px 0 50px;
      }

      button {
        @include btn;
      }
    }

    .img-box {
      width: 55%;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    .sec1-con {
      flex-direction: column-reverse;
      padding: 0 15px;

      .text-box {
        width: 100%;

        h1 {
          font-size: 50px;
          line-height: 60px;
        }

        p {
          font-size: 20px;
        }
      }

      .img-box {
        width: 100%;
      }
    }
  }
}

.sec-2 {
  width: 100%;

  h1 {
    text-align: center;
    font-family: sharp;
    font-weight: 600;
    font-size: 54px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    text-align: center;
    font-family: sharpL;
    font-weight: 350;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 65px;
  }
  .sec2-con {
    max-width: 1200px;
    margin: auto;
    .order-box {
      width: 1010px;
      margin: auto;
      display: flex;
      align-items: center;
      gap: 100px;
      margin-bottom: 60px;

      div {
        width: 270px;
        height: 245px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
          font-family: sharp;
          font-weight: 770;
          font-size: 28px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          margin: 36px 0 18px;
        }

        p {
          font-family: sharpL;
          font-weight: 300;
          font-size: 18px;
          leading-trim: NONE;
          line-height: 28px;
          letter-spacing: 0%;
          text-align: center;
          margin: 0;
        }
      }
    }

    .num-box {
      width: 701px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 100px;
      div {
        width: 135px;
        h3 {
          font-family: sharp;
          font-weight: 780;
          font-size: 44px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
        }
        p {
          font-family: sharpL;
          font-weight: 300;
          font-size: 20px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    .sec2-con {
      .order-box {
        flex-direction: column;
        width: 100%;
      }

      .num-box {
        flex-direction: column;
        width: 100%;
        gap: 40px;
        h3 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.sec-3 {
  width: 100%;
  margin-bottom: 110px;
  .sec3-con {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;

    .text-box {
      width: 40%;
      h1 {
        font-family: sharp;
        font-weight: 770;
        font-size: 54px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }

      p {
        font-family: sharpL;
        font-weight: 300;
        font-size: 22px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        margin: 30px 0 68px;
      }

      button {
        @include btn;
      }
    }

    .img-box {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    .sec3-con {
      flex-direction: column-reverse;
      padding: 0 15px;

      .text-box {
        width: 100%;
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }

      .img-box {
        width: 100%;
      }
    }
  }
}

.sec-4 {
  width: 100%;
  margin-bottom: 80px;
  .sec4-con {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;

    .text-box {
      width: 40%;
      h1 {
        font-family: sharp;
        font-weight: 770;
        font-size: 54px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }

      p {
        font-family: sharpL;
        font-weight: 300;
        font-size: 22px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        margin: 30px 0 68px;
      }

      button {
        @include btn;
      }
    }

    .img-box {
      width: 45%;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    .sec4-con {
      flex-direction: column;
      padding: 0 15px;

      .text-box {
        width: 100%;
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }

      .img-box {
        width: 90%;
      }
    }
  }
}

.sec-5 {
  width: 100%;
  margin-bottom: 110px;
  .sec5-con {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;

    .text-box {
      width: 40%;
      h1 {
        font-family: sharp;
        font-weight: 770;
        font-size: 54px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
      }

      p {
        font-family: sharpL;
        font-weight: 300;
        font-size: 22px;
        leading-trim: NONE;
        line-height: 34px;
        letter-spacing: 0%;
        margin: 30px 0;
      }

      .check {
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        gap: 17px;
        p {
          margin: 0;
        }
      }
    }

    .img-box {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 500px) {
    .sec5-con {
      flex-direction: column-reverse;
      padding: 0 15px;

      .text-box {
        width: 100%;
        h1 {
          font-size: 40px;
        }

        p {
          font-size: 20px;
        }
      }

      .img-box {
        width: 100%;
      }
    }
  }
}
